/* Recipe Page */
.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #F5F8FA; /* Adjust the background color of the Navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Rest of your Navbar styles */

/* Content Layout */
.content {
  display: flex;
  justify-content: center; /* Center content horizontally */
  max-width: 1200px;
  width: 100%;
  margin: 20px auto; /* Center content vertically */
}

.left-section,
.right-section {
  flex: 1;
}

.centered-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
